name: Bicep Test WorkFlow Infra

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    name: "build infra"
    runs-on: ubuntu-latest
    environment: dev   # <-- deployment environment

    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v4

      - name: "Azure Login"
        uses: azure/login@v2
        with:
          auth-type: SERVICE_PRINCIPAL
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  
            --parameters @parameters/dev.json


