name: CI-intelli-secure-azure-infra-test-env

on:
  push:
    branches:
      - test
      - prod

jobs:
  build:
    name: Deploy-Infrastructure
    runs-on: ubuntu-latest

    env:
      ENV_NAME: ${{ github.ref_name }}                       # dev ,test or prod #
      PARAM_FILE: parameters/${{ github.ref_name }}.json

    environment: ${{ github.ref_name }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Build Bicep File
        run: |
          az bicep build --file main.bicep

      - name: What-If Deployment (Preview Changes)
        run: |
          az deployment sub what-if --location eastus --template-file main.bicep --parameters @${{ github.workspace }}/intelli-secure-azure-infra/$PARAM_FILE
